@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f5f9;
}

@theme {

  --color-primary-50: #e6f8f4;
  --color-primary-100: #b0e9de;
  --color-primary-200: #8adece;
  --color-primary-300: #54cfb8;
  --color-primary-400: #33c5aa;
  --color-primary-500: #00b795;
  --color-primary-600: #00a788;
  --color-primary-700: #00826a;
  --color-primary-800: #006552;
  --color-primary-900: #004d3f;
  --color-primary-950: #431407;


  /* Secondary Colors */
  --color-secondary-50: #e9e8f0;
  --color-secondary-100: #c9c8dc;
  --color-secondary-200: #9f9dc0;
  --color-secondary-300: #736fa3;
  --color-secondary-400: #484487;
  --color-secondary-500: #201b6d;
  --color-secondary-600: #1b175d;
  --color-secondary-700: #17134d;
  --color-secondary-800: #120f3e;
  --color-secondary-900: #0e0c31;
  --color-secondary-950: #060517;

  /* Neutral Colors */
  --color-neutral-50: #f8fafc;
  --color-neutral-100: #f1f5f9;
  --color-neutral-200: #e2e8f0;
  --color-neutral-300: #cbd5e1;
  --color-neutral-400: #94a3b8;
  --color-neutral-500: #64748b;
  --color-neutral-600: #475569;
  --color-neutral-700: #334155;
  --color-neutral-800: #1e293b;
  --color-neutral-900: #0f172a;
  --color-neutral-950: #020617;

  /* Success Colors */
  --color-success-50: #f0fdf4;
  --color-success-100: #dcfce7;
  --color-success-200: #bbf7d0;
  --color-success-300: #86efac;
  --color-success-400: #4ade80;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;
  --color-success-700: #15803d;
  --color-success-800: #166534;
  --color-success-900: #14532d;
  --color-success-950: #052e16;

  /* Info Colors */
  --color-info-50: #eff6ff;
  --color-info-100: #dbeafe;
  --color-info-200: #bfdbfe;
  --color-info-300: #93c5fd;
  --color-info-400: #60a5fa;
  --color-info-500: #3b82f6;
  --color-info-600: #2563eb;
  --color-info-700: #1d4ed8;
  --color-info-800: #1e40af;
  --color-info-900: #1e3a8a;
  --color-info-950: #172554;

  /* Warning Colors */
  --color-warning-50: #fefce8;
  --color-warning-100: #fef9c3;
  --color-warning-200: #fef08a;
  --color-warning-300: #fde047;
  --color-warning-400: #facc15;
  --color-warning-500: #eab308;
  --color-warning-600: #ca8a04;
  --color-warning-700: #a16207;
  --color-warning-800: #854d0e;
  --color-warning-900: #713f12;
  --color-warning-950: #422006;

  /* Danger Colors */
  --color-danger-50: #fef2f2;
  --color-danger-100: #fee2e2;
  --color-danger-200: #fecaca;
  --color-danger-300: #fca5a5;
  --color-danger-400: #f87171;
  --color-danger-500: #ef4444;
  --color-danger-600: #dc2626;
  --color-danger-700: #b91c1c;
  --color-danger-800: #991b1b;
  --color-danger-900: #7f1d1d;
  --color-danger-950: #450a0a;

  /* Orange Colors */
  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
  --color-orange-200: #fed7aa;
  --color-orange-300: #fdba74;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
  --color-orange-800: #9a3412;
  --color-orange-900: #7c2d12;
  --color-orange-950: #431407;

}

.menu-link a {
  position: relative;
  overflow: hidden;
  font-size: 14px;

  &:after {
    content: "";
    position: absolute;
    bottom: 0px;
    border-radius: 5px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #00b795, #00b795);
    transition: all ease 0.3s;
  }

  &:hover::after {
    left: 0;
  }
}